input[type="range"] {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  /* background-color: aqua; */
  height: var(--space-6);
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 1rem;
  background-color: var(--btn-bg);
  height: var(--space-2);
}

input[type="range"]::-moz-range-track {
  border-radius: 1rem;
  background-color: var(--btn-bg);
  height: var(--space-2);
}

input[type="range"]::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  appearance: none;
  margin-top: -6px;
  border-radius: var(--rounded-full);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--primary-hover);
}

input[type="range"]::-moz-range-thumb {
  /* -webkit-appearance: none; */
  appearance: none;
  margin-top: -6px;
  border-radius: var(--rounded-full);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: var(--primary-hover);
}
