@import "./styles/reset.css";
@import "./styles/colors.css";
@import "./styles/space.css";
@import "./styles/text.css";
@import "./styles/rounded.css";
@import "./styles/box-shadow.css";

body {
  background-color: var(--c-slate-50);
  overflow-y: scroll;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

#root {
  margin-inline: auto;
  padding-inline: var(--space-2);
  max-width: 1600px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center {
  display: grid;
  position: absolute;
  place-items: center;
  inset: 0;
}
