.login {
  margin-top: var(--space-20);
  padding: var(--space-2);
  display: grid;
  place-items: center;
  gap: var(--space-5);
  text-align: center;
  & button {
    border-radius: var(--rounded-lg);
    width: fit-content;
    padding: var(--space-5) var(--space-3);
  }
}

.title {
  color: var(--primary);
  font-size: var(--text-4xl);
  text-wrap: balance;
  & > svg {
    display: inline;
    vertical-align: middle;
    fill: var(--primary);
    margin-top: -6px;
    width: var(--space-9);
    height: var(--space-9);
  }
}

.token {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  & > input {
    height: var(--space-9);
  }
}
