.center {
  display: grid;
  position: absolute;
  place-items: center;
  inset: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  font-size: x-large;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.retry {
  display: grid;
  place-items: center;
  gap: 5px;
  border-radius: 2em;
  background: lightgray;
  width: 40px;
  height: 40px;
}
