.card {
  display: grid;
  grid-template-rows: 100px 1fr;
  /* outline: 1px solid grey; */
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}

.unknown {
  display: grid;
  flex-grow: 1;
  place-items: center;
  background: lightgrey;
  font-size: 80px;
}

.details {
  display: grid;
  grid-template-rows: 32px 32px;
  grid-template-columns: 32px 1fr 32px;
  gap: 8px;
  padding: 14px;
}

.details > * {
  align-content: center;
}

.details i {
  padding: 0 5px;
}

.details a {
  color: black;
  text-decoration: none;
}

.sr_img {
  display: grid;
  place-items: center;
  border-radius: 2em;
  background: grey;
  overflow: hidden;
}

.bookmark_btn {
  display: grid;
  place-items: center;
  border-radius: 2em;
  background: gray;
}

.bookmark_btn:hover {
  background: blue;
}

.bookmark_btn > svg[data-saved="true"] {
  fill: black;
}

.title {
  grid-column: 1 / 4;
  max-width: fit-content;
  font-weight: 500;
  font-size: larger;
}

.preview {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: lightgrey;
  min-height: 0;
}

.play_btn {
  display: grid;
  position: absolute;
  place-items: center;
  border-radius: 2em;
  background: gray;
  width: 40px;
  height: 40px;
}

.play_btn > svg {
  fill: black;
}

.gallery_length {
  display: grid;
  position: absolute;
  top: 14px;
  right: 14px;
  place-items: center;
  outline: 2px solid lightgray;
  border-radius: 8px;
  background: rgba(0 0 0 / 0.8);
  padding: 0 6px;
  min-width: 32px;
  height: 32px;
  color: white;
  font-weight: 600;
}

.text {
  position: relative;
  padding: 0 14px;
  height: 100%;
  overflow: hidden;
  line-height: 1.5;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.text::before {
  position: absolute;
  right: 14px;
  bottom: 0;
  left: 14px;
  backdrop-filter: blur(2px);
  height: 10px;
  content: "";
}
