.card {
  display: grid;
  grid-template-rows: auto 1fr;
  container: card / inline-size;
  outline: 1px solid var(--ring-color);
  border-radius: var(--rounded-xl);
  background-color: var(--card-bg);
  height: 100%;
}

.trigger {
  outline-offset: 1px;
  border-radius: 0 0 var(--rounded-xl) var(--rounded-xl);
  isolation: isolate;
  /* min-height: 0px; */
  overflow: hidden;
}

.text {
  padding-inline: var(--space-4);
  overflow: hidden;
  white-space: break-spaces;
  word-wrap: break-word;
  color: var(--fg);
}

.unknown {
  display: grid;
  place-items: center;
  height: 100%;
  color: var(--c-black);
  font-size: var(--space-20);
}
