.preview {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.playBtn {
  display: grid;
  position: absolute;
  place-items: center;
  outline: 1px solid var(--c-white);
  border-radius: var(--rounded-full);
  background-color: rgba(0, 0, 0, 0.75);
  width: var(--space-10);
  height: var(--space-10);
  color: var(--c-white);
}

.gallery {
  display: grid;
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  place-items: center;
  outline: 1px solid var(--c-white);
  border-radius: var(--rounded-lg);
  background-color: rgba(0, 0, 0, 0.75);
  min-width: var(--space-8);
  height: var(--space-8);
  color: var(--c-white);
  font-weight: 600;
}
