.sizeInput {
  display: grid;
  grid-template-rows: auto auto;
  gap: var(--space-1);
}

.label {
  font-size: var(--text-sm);
  text-align: center;
  & > span {
    border-radius: var(--rounded-md);
    background-color: var(--btn-bg);
    padding: var(--space-1) var(--space-2);
  }
}

input[type="range"] {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  height: var(--space-6);
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 1rem;
  background-color: var(--btn-bg);
  height: var(--space-2);
}

input[type="range"]::-moz-range-track {
  border-radius: 1rem;
  background-color: var(--btn-bg);
  height: var(--space-2);
}

input[type="range"]::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  appearance: none;
  margin-top: -6px;
  border: none;
  border-radius: var(--rounded-full);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--primary-hover);
}

input[type="range"]::-moz-range-thumb {
  /* -webkit-appearance: none; */
  appearance: none;
  margin-top: -6px;
  border: none;
  border-radius: var(--rounded-full);
  background-color: var(--primary);
  width: 20px;
  height: 20px;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: var(--primary-hover);
}
