.maxColumns {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space-2);
}

.numBtns {
  display: flex;
  grid-column: span 2;
  gap: var(--space-1);

  & > button {
    flex-grow: 1;
    background-color: var(--btn-bg);
    height: var(--space-9);
    color: var(--fg);
    font-weight: 500;

    &:first-child {
      border-radius: var(--rounded-md) 0 0 var(--rounded-md);
    }

    &:last-child {
      border-radius: 0 var(--rounded-md) var(--rounded-md) 0;
    }

    &[data-selected="true"] {
      color: var(--primary);
    }
  }
}
