.trigger {
  anchor-name: --settings;
}

.settings {
  position-anchor: --settings;
  inset: auto;
  top: calc(anchor(bottom) + var(--space-3));
  right: calc(anchor(right) - var(--space-4));
  gap: var(--space-6);
  border: 1px solid var(--ring-color);
  border-radius: var(--rounded-lg);
  background-color: var(--bg);
  padding: var(--space-4);
  width: 350px;
  max-width: calc(100vw - var(--space-4));

  &:popover-open {
    display: grid;
  }
  &:popover-open::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

body:has(.settings:popover-open) {
  overflow: hidden;
  pointer-events: none;
  .settings {
    pointer-events: all;
  }
}
.top {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--text-2xl);
}
