.theme {
  display: grid;
  gap: var(--space-2);
}

.themeBtns {
  display: flex;
  gap: var(--space-1);

  & > button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
    background-color: var(--btn-bg);
    width: fit-content;
    height: var(--space-9);
    color: var(--fg);
    font-weight: 500;

    &:first-child {
      border-radius: var(--rounded-md) 0 0 var(--rounded-md);
    }

    &:last-child {
      border-radius: 0 var(--rounded-md) var(--rounded-md) 0;
    }

    &[data-selected="true"] {
      color: var(--primary);
    }

    @media (width < 320px) {
      & > svg {
        display: none;
      }
    }
  }
}
