.theme_btns {
  display: flex;
  gap: var(--space-1);
  & > button {
    flex-grow: 1;
    border-radius: 0;
    font-weight: 500;
    &:first-child {
      border-radius: var(--rounded-md) 0 0 var(--rounded-md);
    }

    &:last-child {
      border-radius: 0 var(--rounded-md) var(--rounded-md) 0;
    }

    &[data-selected="true"] {
      color: var(--primary);
    }

    @media (width < 320px) {
      & > svg {
        display: none;
      }
    }
  }
}
