.theme_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: var(--space-1); */
  border: 1px solid var(--ring-color);
  border-radius: var(--rounded-full);
  /* background-color: red; */
  /* padding: var(--space-1); */

  & > button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: var(--rounded-full);
    /* background-color: var(--btn-bg); */
    width: var(--space-8);
    height: var(--space-8);
    color: var(--fg);
    /* font-weight: 500; */

    /* & > svg {
      min-width: 24px;
    } */

    &:focus-visible {
      outline: 2px solid var(--primary-hover);
      background-color: var(--btn-hover);
    }
    &:hover {
      background-color: var(--btn-hover);
    }
    /* 
    &:first-child {
      border-radius: var(--rounded-full) 0 0 var(--rounded-full);
    }

    &:last-child {
      border-radius: 0 var(--rounded-full) var(--rounded-full) 0;
    } */

    &[data-selected="true"] {
      color: var(--primary);
    }
  }
}
