.header {
  display: grid;
  grid-template-columns: 40px auto repeat(3, 40px);
  align-items: center;
  gap: 10px;
  height: 60px;
}

.header > svg {
  margin-left: -5px;
  width: 40px;
  height: 40px;
}

.header > span {
  margin-left: -15px;
  font-size: 30px;
}

.header > a,
.header > button {
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: lightgray;
  width: 40px;
  height: 40px;
  overflow: hidden;
  color: black;
}
