.header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--ring-color);
  background-color: var(--bg);
}

.navBar {
  display: flex;
  gap: var(--space-2);
  transition: max-width 0.5s ease;
  margin: auto;
  padding: var(--space-2) var(--space-4);
  max-width: var(--masonry-max-width, 405px);

  & > span {
    flex-grow: 1;
    color: var(--primary);
    font-size: var(--text-2xl);
  }
}

.bookmark {
  flex-shrink: 0;
  width: var(--space-9);
  height: var(--space-9);
  color: var(--primary);
}

.github {
  overflow: hidden;
  & > svg {
    fill: var(--btn-bg);
    background-color: var(--bg);

    &:hover {
      fill: var(--btn-hover);
    }
  }
}
