.header {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 40px 1fr repeat(3, 40px);
  align-items: center;
  gap: 10px;
  margin: 5px 0 15px 0;
  outline: 1px solid var(--bg-slate-200);
  border-radius: 10px;
  background-color: var(--bg-white);
  padding: 0 10px 0 5px;
  & > svg {
    stroke: var(--bg-sky-500);
    fill: var(--bg-sky-500);
    width: 40px;
    height: 40px;
  }
  & > span {
    font-size: 30px;
  }
}

.nav_btn {
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--bg-slate-100);
  width: 40px;
  height: 40px;
  overflow: hidden;
  color: black;
  &:hover {
    background-color: var(--bg-slate-200);
  }
}
