.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-8) 0;
  color: var(--fg);
  font-size: var(--text-2xl);
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.spin {
  flex-shrink: 0;
  animation: spin 1s linear infinite;
  width: var(--space-10);
  height: var(--space-10);
}

.retry {
  display: grid;
  place-items: center;
  gap: 5px;
  scale: -1 1;
  border-radius: 2em;
  background-color: var(--btn-bg);
  width: 40px;
  height: 40px;
  color: var(--fg);

  &:hover {
    background-color: var(--btn-hover);
  }
}
